.form {
  width: 400px;
  margin: 0 auto;
}

.label {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* li {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
} */

.del {
  cursor: pointer;
  width: 10px;
}
.del:hover {
  color: red;
  transform: rotate(45deg);
}

input:checked + span {
  text-decoration: line-through;
}
