body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: darkslategrey;
  color: #fff;
}

ul,
li,
a {
  list-style-type: none;
}

.formTodo {
  margin: 20px;
  width: 600px;
}
